Package: com.mcbegamerxx954.mbsr
Name: Mbsr
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: mcbegamerxx954
Author: mcbegamerxx954
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
